[flake8]
# UFN plugin must be run in serial
jobs = 0

max-line-length = 120
exclude =
    doc,
    .tox,
    .git,
    .yml,
    Pipfile.*,
    docs/*,
    .cache/*

fcn_exclude_functions =
    BASIC_LOGGER,
    LOGGER,
    logging,
    addoption,
    getgroup,
    getoption,
    get_plugin,
    yaml,
    json,
    shutil,
    datetime,
    os,
    mktemp,
    shlex,
    contextlib,
    metafunc,

enable-extensions =
    FCN,
    UFN,
    NIC,
    NIT,
